<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
	<!-- mapUnderscoreToCamelCase : select 에서만 적용됨 -->
		<setting name="mapUnderscoreToCamelCase" value="true"></setting> <!-- underscore표기를 camel로 자동으로 넣어줌 -->
		<setting name="callSettersOnNulls" value="true"></setting> <!-- db에서 읽어온 값이 null일때 이 설정이 없으면 setter 호출을 못함 (null이어도 setter호출 필요) -->
	</settings>

</configuration>